
body {
    background-color: #bcceee;
  }
  
  
  .contenedor-inicio {
    width: auto;
    margin: 400px;
    background: #b5f7e6;
    padding: 40px 40px;
    border-radius: 15px;
  }
  
  .contenedor-inicio h1,
  .contenedor-inicio h2 {
    margin-bottom: 15px;
  }
  
  
  .formulario {
    display: flex;
    flex-direction: column;
  }
  
  
  .campo {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
  }
  
  .campo label {
    margin-bottom: 5px;
  }
  
  .campo input[type="email"],
  .campo input[type="password"],
  .campo select {
    padding: 12px;
    border: 2px solid #ccc;
    border-radius: 40px;
  }
  
  
  .btn-iniciar {
    margin-top: 20px;
    padding: 10px;
    font-size: 16px;
    background: #79c1f1;
    color: #fff;
    border: none;
    border-radius: 10px;
    cursor: pointer;
  }
  
  .btn-iniciar:hover {
    background: #2980b9;
  }