body {
    background-color: #bcceee;
    font-family: Arial, sans-serif;
  }
  
  .contenedor-actividad {
    width: auto;
    margin: 100px auto; /* Centrado horizontal con margen vertical */
    background: #b5f7e6;
    padding: 40px;
    border-radius: 15px;
    max-width: 600px;
  }
  
  .contenedor-actividad h1,
  .contenedor-actividad h2 {
    margin-bottom: 15px;
    text-align: center;
  }
  
  .formulario {
    display: flex;
    flex-direction: column;
  }
  
  .campo {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
  }
  
  .campo label {
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  .campo input[type="text"],
  .campo input[type="email"],
  .campo input[type="password"],
  .campo input[type="date"],
  .campo input[type="file"],
  .campo select {
    padding: 12px;
    border: 2px solid #ccc;
    border-radius: 40px;
    font-size: 16px;
  }
  
  .btn-registrar {
    margin-top: 20px;
    padding: 10px;
    font-size: 16px;
    background: #79c1f1;
    color: #fff;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    text-align: center;
    transition: background 0.3s ease;
  }
  
  .btn-registrar:hover {
    background: #2980b9;
  }
  