  body {
    font-family: 'Lucida Sans', sans-serif; /* Fuente de letra*/
    text-align: center; /*Centramos el texto*/
  }
  
  /* Para la página index con imagen de fondo */
  body.bg-index {
    background: url('DALL·E 2025-03-10 17.14.52 - A motivational sports-themed background image for a website. The image features a cool blue-toned sunrise over a running track, with an athlete tying .webp');
    background-size: cover; /*Redimensionamos la imagen para que cubra toda la pantalla*/
  }
  
    /*Header*/
  header {
    background-color: #357cac; /*Color de fondo del header*/
    padding: 10px;  /*Tamaño interno del header*/
    border-radius: 10px; /*Borde redondeado del header*/
    margin-bottom: 20px; /*Margen inferior del header*/
    color: #b5f7e6; /*Color de letra del header*/
    font-size: 20px; /*Tamaño de letra del header*/
  }
  
  /*Barra de navegación*/
  nav {
    background-color: #b5f7e6; /*Color de fondo del nav*/
    padding: 15px; /*Tamaño interno del nav*/
    border-radius: 10px; /*Borde redondeado del nav*/
    margin-bottom: 20px; /*Margen inferior del nav*/
  }
  
  /*Lista de navegación*/
  ul {
    list-style: none; /*Quitamos los puntos de la lista*/
  }
  
    /*Elementos de la lista de navegación*/
  li {
    display: inline; /*Mostramos los elementos de la lista horizontalmente*/
    margin: 15px;  /*Margen entre elementos de la lista*/
  }
  

/* Enlace de la lista de navegación */

  a {
    text-decoration: none; /*Quitamos el subrayado de los enlaces*/
    color: #357cac; /*Color de letra de los enlaces*/
    font-size: 20px; /*Tamaño de letra de los enlaces*/
  }
  
  a:hover {
    color: #fff; /*Color de letra de los enlaces al pasar el ratón por encima*/
  }


  .logout {
    background-color: red;
    padding: 8px 15px;
    border-radius: 5px;
    color: white;
  }
  
  .logout:hover {
    background-color: darkred;
  }
  
  
  /*Buscador de amigos*/ 
  
  .buscador input {
    padding: 10px; /*Tamaño del padding del input*/
    font-size: 16px; /*Tamaño de letra del input*/
    width: 300px; /*Ancho del input*/ 
    border-radius: 10px;
  }
  
  .buscador button {
    padding: 11px; /*Tamaño del botón*/
    font-size: 16px;
    background-color: #2980b9;
    color: white; /*Color de letra del botón*/
    cursor: pointer; /*Cursor al pasar por encima del botón*/
    border-radius: 10px;
  }
  
  .buscador button:hover {
    background-color: #082b46; /*Color de fondo del botón al pasar el ratón por encima*/
    transform: translateY(-2px);
  }
  
  
  
  /* GESTIÓN DE PERFIL  y registro  */

  .contenedor-registro {
    width: auto; /*Ancho del contenedor*/
    margin: 100px 350px; /*Margenes del contenedor por arriba y por los lados*/
    background: #c2e6f1;
    padding: 40px; /*Tamaño interno del contenedor*/
    border-radius: 15px;
  }

  .campo {
    display: flex; /*Mostramos los elementos en línea*/
    flex-direction: column ; /*Dirección de los elementos (columnas)*/
    margin-bottom: 40px; /*Margen inferior de los elementos*/
    
  }
  
  .campo label {
    font-size: 18px; /*Tamaño de letra de las etiquetas*/

  }
  
  .campo input,
  .campo select {
    padding: 12px; /*Tamaño del padding de los inputs*/
    border-radius: 35px;
    font-size: 16px; /*Tamaño de letra de los inputs*/
  }
  
  .btn-registrar {
    padding: 20px;
    font-size: 16px; /*Tamaño de letra del botón*/
    background: #49adf0;
    color: #fff;
    border-radius: 20px;
    cursor: pointer; 
  }
  
  .btn-registrar:hover {
    background: #006db6;
    transform: translateY(-2px);
  }


  /*  IDENTIFICACIÓN (identificación_styles.css) */
  .contenedor-inicio {
    width: auto;
    margin: 150px 400px;
    background: #b5f7e6;
    padding: 40px;
    border-radius: 15px;
  }
  
  
  
  /* Botón para iniciar sesión */
  .btn-iniciar {
    padding: 20px;
    font-size: 16px;
    background: #49adf0;
    color: #fff;
    border-radius: 15px;
    cursor: pointer;
  }
  
  .btn-iniciar:hover {
    background: #006db6;
    transform: translateY(-2px);
  }
  
  /* INICIO (index.css)*/
  .contenedor-inicial {
    padding: 60px;
    background-color: #e6f7f2;
    margin: 120px 400px ;
    border-radius: 10px;
  }

  .botones {
    display: flex; 
    flex-direction: row; /*Mostramos los botones en línea horizontalmente*/
    gap: 35px; /*Espacio entre los botones*/
    justify-content: center; /*Centramos los botones*/
  }
  

  
  .btn {
    padding: 30px; 
    background-color: #5fa3ec;
    color: #ffffff;
    border: paleturquoise; /*Color del borde del botón*/
    font-size: 20px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .btn:hover {
    background-color: #05386e;
    transform: translateY(-2px); /*Efecto visual al pasar el raton*/
  }
  
  /*  INI (ini.css)*/

  
 
  .contenido {
    margin-top: 100px;
    background: white;
    padding: 10px;

    /* Hacer que el cuadrado llegaue hasta el final de la derecha y la izquierda */
    margin-left: -5px;
    margin-right: -5px;

  }
  
  .contenido h2 {
    color: #0056b3;
  }
  
  .contenido p {
    font-size: 18px;
  }

  
  /*  PUBLICAR ACTIVIDAD (pub_act.css) */
  .contenedor-actividad {
    width: 550px;
    margin: 100px 350px;
    background: #b5f7e6;
    padding: 40px;  /* espacio alrededor del contenido */
    border-radius: 15px;
  }
  

  
  .campo input[type="file"] {
    background-color: #ffffff;
    padding: 12px;

    border-radius: 40px;
    font-size: 16px;
  }
  
  
  /*  TABLÓN (tablón.css)  */

  
  .paginacion {
    margin-top: 20px;
    background-color: #2980b9;
    color: white;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 5px;
    margin: 5px;
  }
  
  .paginacion:hover{
    background-color: #1f5a87;
    transform: translateY(-2px);
  }



/* Usuario simulado */
.usuario {
  display: flex; /* Cambiado a flex para alinear imagen y texto en fila */
  text-align: center;
  align-items: center; /* Centra los elementos verticalmente */
  background-color: #ffffff;
  width: 1000px;
  height: 200px; /* Ajuste automático según el contenido */
  color: rgb(0, 0, 0);
  padding: 15px;
  border-radius: 10px;
  margin-bottom: 10px;
  margin-left: 70px;
  gap: 30px; /* Espacio entre la imagen y el texto */
}

/* Imagen del usuario */
.usuario img,
.g_usuario img {
  width: 100px;
  height: 100px;
  border-radius: 50%; /* Hace la imagen circular */
}

.perfil{
  background-color: #357cac;
  width: auto;
  height: auto;
  border-radius: 10px;
  margin-left: 400px;
  margin-right: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
  margin-bottom: 30px;
  gap: 20px;
}

.perfil img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

.perfil p {
  font-size: 18px;
}



.actividad {
  display: flex;
  align-items: center;
  background: #fff;
  border-radius: 8px;
  width: 1400px;
  height: 200px; 
  padding: 20px;
  margin-bottom: 20px;
  gap: 60px; /* Espacio entre el texto y las imágenes */
}




.imagenes-actividad {
  display: flex;  /* Coloca las imágenes una al lado de otra */
  gap: 10px;
}


.imagenes-actividad img {
  width: 150px;   
  height: 150px;  
  object-fit: cover;
  border-radius: 10px;
}

.imagenes-actividad img:hover {
  transform: scale(1.10);
}


body.bg-admin {
  background: url('top-view-international-worker-s-day-with-engineer-tools.jpg');
  background-size: cover; /*Redimensionamos la imagen para que cubra toda la pantalla*/
}

.g_usuario {
  display: flex; /* Cambiado a flex para alinear imagen y texto en fila */
  text-align: center;
  align-items: center; /* Centra los elementos verticalmente */
  background-color: #ffffff;
  width: 1200px;
  height: 200px; /* Ajuste automático según el contenido */
  color: rgb(0, 0, 0);
  padding: 15px;
  border-radius: 10px;
  margin-bottom: 10px;
  margin-left: 70px;
  gap: 30px; /* Espacio entre la imagen y el texto */
}


/* ================================
   LISTADO DE ÍTEMS
================================ */

.bg-admin h1 {
  color: #022136;
  background: #fffefe;
  padding: 20px;
}


.listado-items {
  background: #81cee6;
  padding: 20px;
  margin: 50px 250px;
  max-width: 800px;
  border-radius: 10px;
  text-align: center;
  
}

.listado-items h2 {
  color: #357cac;
  margin-bottom: 15px;
}


.alta-item {
  background: #fff;
  padding: 20px;
  margin: 40px auto;
  max-width: 600px;
  border-radius: 10px;
  text-align: center;
}

