  body {
    font-family: 'Lucida Sans', sans-serif; /* Fuente de letra*/
    text-align: center; /*Centramos el texto*/
  }
  
  /* Para las paginas de usuario e iniciales, imagen de fondo */
  .bg-index {
    background: url('DALL·E 2025-03-10 17.14.52 - A motivational sports-themed background image for a website. The image features a cool blue-toned sunrise over a running track, with an athlete tying .webp');
    background-size: cover; /*Redimensionamos la imagen para que cubra toda la pantalla*/
  }

  
  /* cabecera y menu */
  header {
    background-color: #357cac; /*Color de fondo del header*/
    padding: 10px;  /*Tamaño interno del header*/
    border-radius: 10px; /*Borde redondeado del header*/
    margin-bottom: 20px; /*Margen inferior del header*/
    color: #b5f7e6; /*Color de letra del header*/
    font-size: 20px; /*Tamaño de letra del header*/
  }

  ul {
    list-style: none; /*Quitamos los puntos de la lista*/
    background-color: #4f7dd1; /*Color de fondo */
    padding: 40px; /*Tamaño interno */
    border-radius: 10px; /*Borde redondeado*/
    margin-bottom: 20px; /*Margen inferior */
  }
  
  li {
    display: inline; 
    margin: 15px;  /*Margen entre elementos de la lista*/
  }
  
  li:hover {
    background-color: #052b44; /*Color de fondo al pasar el ratón por encima*/
    padding: 6px; /*Tamaño del padding al pasar el ratón por encima*/
    border-radius: 10px; /*Borde redondeado al pasar el ratón por encima*/
  }

  .menu a{
    text-decoration: none; /*Quitamos el subrayado de los enlaces*/
    color: #ffffff; /*Color de letra de los enlaces*/
    font-size: 20px; /*Tamaño de letra de los enlaces*/
  }
  
  a:hover {
    color: #fff; /*Color de letra de los enlaces al pasar el ratón por encima*/
  }


  .logout {
    background-color: red;
    padding: 15px;
    border-radius: 5px;
    color: white;
    cursor: pointer;
  }
  
  .logout:hover {
    background-color: darkred;
  }


  /*index*/

  .contenedor-inicial {
    padding: 60px;
    background-color: #e6f7f2;
    margin: 120px 400px ;
    border-radius: 10px;
    height: auto;
  }

  

  
  .btn {
    padding: 30px; 
    background-color: #5fa3ec;
    color: #ffffff;
    border: paleturquoise; /*Color del borde del botón*/
    font-size: 20px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .btn:hover {
    background-color: #05386e;
    transform: translateY(-2px); /*Efecto visual al pasar el raton*/
  }


  .contenedor-inicial p{
    margin-bottom: 50px;
  }


  footer{
    background-color: #357cac; /*Color de fondo del footer*/
    padding: 10px;  /*Tamaño interno del footer*/
    border-radius: 10px; /*Borde redondeado del footer*/
    margin-top: 20px; /*Margen superior del footer*/
    color: #b5f7e6; /*Color de letra del footer*/
    font-size: 20px; /*Tamaño de letra del footer*/
  }


  
  
  
  
  /*Buscadores */ 
  
  .buscador input {
    padding: 10px; /*Tamaño del padding del input*/
    font-size: 16px; /*Tamaño de letra del input*/
    width: 300px; /*Ancho del input*/ 
    border-radius: 10px;
  }
  
  
  /* registro */

  .contenedor-registro {
    width: auto; /*Ancho del contenedor*/
    margin: 100px 350px; /*Margenes del contenedor por arriba y por los lados*/
    background: #c2e6f1;
    padding: 40px; /*Tamaño interno del contenedor*/
    border-radius: 15px;
    display: flex; /*Mostramos los elementos de la lista horizontalmente*/
    flex-direction: column ; /*Dirección de los elementos (columnas)*/
  }

  .campo {
    align-items: center; /*Centramos los elementos*/
    justify-content: center; /*Centramos los elementos*/
    margin-top: 20px; /*Margen superior de los elementos*/
    margin-left: auto; /*Margen izquierdo de los elementos*/
    margin-right: auto; /*Margen derecho de los elementos*/

    margin-bottom: 40px; /*Margen inferior de los elementos*/
    width: 400px;

    background-color: #ffffff;
    padding: 12px;

    border-radius: 40px;
    font-size: 16px;
    
  }
  
  
  .campo input,
  .campo select {
    padding: 15px; /*Tamaño del padding de los inputs*/
    border-radius: 35px;
    font-size: 16px; /*Tamaño de letra de los inputs*/
    width: 350px; /*Ancho de los inputs*/
  }
  


  /*  Iniciar sesion */
  .contenedor-inicio {
    width:700px;
    height: 600px;
    margin-left: auto;
    margin-right:auto ;
    background: #b5f7e6;
    border-radius: 15px;
    display: flex;
    flex-direction: column; /* apila verticalmente */
    align-items: center;    /* centra horizontalmente */
    margin-top: 50px;
    text-decoration: none;
  }

  .contenedor-inicio a{
    margin-top: 100px;
    margin-bottom: 100px;
    margin: 10px;
    text-decoration: none;
  }


  .contenedor-inicio button{
    margin-top: 50px;
  }


  /*enlaces de ciertas htmls diversos */
   .usuarioAmigo a, .usuarioNoAmigo a, .g_usuario a, .contenedor-actividad a, .contenedor-registro a,  .contenedor-inicial a{
    color: #fcfcfc; /*Color de letra de los enlaces*/
    text-decoration: none; /*Quitamos el subrayado de los enlaces*/
    margin: 5px;
  }

  
  
  /*  INI (pagina inicial tras iniciar sesión)*/

  .contenido {
    margin-top: 100px;
    background: white;
    padding: 10px;

    /* Hacer que el cuadrado llegaue hasta el final de la derecha y la izquierda */
    margin-left: -5px;
    margin-right: -5px;

  }
  
  .contenido h2 {
    color: #0056b3;
  }
  
  .contenido p {
    font-size: 18px;
  }

  
  /*  PUBLICAR ACTIVIDAD */
  .contenedor-actividad {
    width: 600px;
    margin: 100px 400px;
    background: #b5f7e6;
    padding: 40px;  /* espacio alrededor del contenido */
    border-radius: 15px;
    display: flex;
    flex-direction: column; /* apila verticalmente */
    
  }
  
  
  
  /*  TABLÓN (tablón.css)  */

  /*Boton mas pequeño (usado frecuentemente) */
  .paginacion {
    margin-top: 20px;
    background-color: #2980b9;
    color: white;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 5px;
    margin: 5px;
  }
  
  .paginacion:hover{
    background-color: #1f5a87;
    transform: translateY(-2px);
  }

  .actividad {
    display: flex;
    align-items: center;
    background: #fff;
    border-radius: 8px;
    width: 1400px;
    height: 200px; 
    padding: 20px;
    margin-bottom: 20px;
    margin-left: 35px;
    gap: 60px; /* Espacio entre el texto y las imágenes */
  }
  
  
  
  
  .imagenes-actividad {
    display: flex;  /* Coloca las imágenes una al lado de otra */
    gap: 10px;
  }
  
  
  .imagenes-actividad img {
    width: 150px;   
    height: 150px;  
    object-fit: cover;
    border-radius: 10px;
  }
  
  .imagenes-actividad img:hover {
    transform: scale(1.10);
  }


/* bUscador usuarios*/ 

/* Usuario simulado */
.usuarioAmigo,
.usuarioNoAmigo {
  display: flex; /* Cambiado a flex para alinear imagen y texto en fila */
  text-align: center;
  align-items: center; /* Centra los elementos verticalmente */
  background-color: #ffffff;
  width: 1000px;
  height: 200px; /* Ajuste automático según el contenido */
  color: #010508;
  padding: 15px;
  border-radius: 10px;
  margin-bottom: 10px;
  margin-left: 190px;
  gap: 30px; /* Espacio entre los elementos */
}

/* Imagen del usuario */
.usuarioAmigo img,
.usuarioNoAmigo img,
.g_usuario img {
  width: 100px;
  height: 100px;
  border-radius: 50%; /* Hace la imagen circular */
}


/*ver perfil de usuario amigo*/

.perfil{
  background-color: #a1ceec;
  width: auto;
  height: auto;
  border-radius: 10px;
  margin-left: 400px;
  margin-right: 400px;
  display: flex;
  flex-direction: column; /* apila verticalmente */
  align-items: center;
  margin-top: 50px;
  margin-bottom: 50px;
  gap: 20px;
  padding: 20px;
}

.perfil img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

.perfil p {
  font-size: 18px;
}





/*fonde para página de admin */
.bg-admin {
  background: url('top-view-international-worker-s-day-with-engineer-tools.jpg');
  background-size: cover; /*Redimensionamos la imagen para que cubra toda la pantalla*/
}


/*gestion de usuarios*/

.g_usuario {
  display: flex; /* Cambiado a flex para alinear imagen y texto en fila */
  text-align: center;
  align-items: center; /* Centra los elementos verticalmente */
 
  background-color: #ffffff;
  width: 900px;
  height: 200px; /* Ajuste automático según el contenido */
  color: #010508;
  padding: 15px;
  border-radius: 10px;
  margin-bottom: 10px;
  margin-left: 260px;
  gap: 30px; /* Espacio entre la imagen y el texto */
}



/*Para que todos los h1 de la página tengan un estilo distinto*/
.bg-admin h1 {
  color: #022136;
  background: #fffefe;
  padding: 20px;
}



/*gestion de items*/
.listado-items {
  background: #81cee6;
  padding: 20px;
  margin: 50px 250px;
  width: 800px;
  border-radius: 10px;
  text-align: center;
  margin-left: 300px;
  
}

.listado-items h2 {
  color: #357cac;
  margin-bottom: 15px;
}


.alta-item {
  background: #fff;
  padding: 20px;
  margin: 40px auto;
  max-width: 600px;
  border-radius: 10px;
  text-align: center;
}


/*estilo de cuando seleccionas un tipo de item contendor en el que se listan para editar o eliminar*/
.tipoItem{
  background: #ffffff;
  padding: 20px; /* Espacio alrededor del contenido */
  margin-bottom: 20px;
  border-radius: 10px;
  width: 400px;
  margin-left: 500px;
  margin-right: 400px;
  height: 150px;
}

.tipoItem h3 {
  margin-bottom: 50px;
}





/*para que al hacer click en la imagen se agranden*/
#imagen1:active, 
#imagen2:active, 
#imagen3:active, 
#imagen4:active, 
#imagen5:active,
#imagen6:active,
#imagen7:active,
#imagen8:active,
#imagen9:active,
#imagen10:active,
#imagen11:active,
#imagen12:active{
  transform: scale(2); /* Efecto de zoom al hacer clic */
}

/*para distinguir usuarios amigos de no amigos*/
.usuarioAmigo h5{
  color: #357cac;
}
#no{
  color: #921717;
}

.mapa-actividad {
    height: 100px;
    width: 100%;
    margin: 1rem 0;
    border: 1px solid #ccc;
    border-radius: 8px;
}
